<div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection}}">
    </a> {{product.price | money}}
    {% if product.available ==false %}<br><strong>Sold Out</strong>{% endif %}
          <a href="{{ product.url | within: collection }}">
            <img src="{{product.featured_image.src | img_url: '300px'}}" alt="{{product.featured_image.alt | escape}}></a>
</div>