{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
{% paginate collection.products by section.settings.pagination %}
<h1>{{ collection.title }}</h1>
{%- for product in collection.products -%}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection}}">
    </a> {{product.price | money}}
    {% if product.available ==false %}<br><strong>Sold Out</strong>{% endif %}
          <a href="{{ product.url | within: collection }}">
            <img src="{{product.featured_image.src | img_url: '300px'}}" alt="{{product.featured_image.alt | escape}}></a>
  </div>
{%- else -%}
  <p>no matches</p>
{%- endfor -%}
{% if paginate.pages > 1%}
  {{paginate| default_pagination}} {%comment %}Normally don't use default_pagination create your own custom one{%endcomment%}
{% endif %}
{% endpaginate%}

{% schema %}
  {
    "name": "Collection Template",
    "settings": [
        {
            "type":"range",
            "id": "pagination",
            "min": 5,
            "max": 25,
            "step": 5,
            "label": "Products per page",
            "default": 5
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
